Repository Driedsandwich/ucomm, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, evidence, phase4.3, ops

fix(minutes): handle inputs without trailing newline (robust read + forced newline)
  .github/workflows/minutes.yml
  scripts/lib/mask.sh
Labels: ops

test: add last-line regression test to prevent newline handling bugs
  .github/workflows/minutes.yml
Labels: ops

test: tiny change to validate required status checks guard
  README.md
Labels: none

docs(decision): set required reviews=0 for solo operator (CI remains the gate)
  docs/DECISIONS_LOG.md
Labels: documentation

test(linkcheck): introduce a broken link to assert guard blocks merge
  README.md
Labels: none

docs(decision): record main branch protection (admins+strict+required checks)
  docs/DECISIONS_LOG.md
Labels: documentation

fix: enhance minutes.sh reliability and workflow artifacts
  .github/workflows/minutes.yml
  scripts/minutes.sh
Labels: ops

fix(linkcheck): remove broken link (restore green)
  README.md
Labels: none

chore: align DECISIONS_LOG.md with main
  docs/DECISIONS_LOG.md
Labels: documentation

test: negative guard (linkcheck fails) (#39)
  .github/workflows/minutes.yml
  .gitignore
  README.md
Labels: ops

chore(eol): enforce LF for POSIX files and CRLF for Windows scripts; renormalize
  .gitattributes
Labels: none

chore(eol): enforce LF for POSIX files and CRLF for Windows scripts; renormalize
  .gitattributes
Labels: none

ci(smoke): add aggregate job named 'smoke' to satisfy branch protection context
  .github/workflows/smoke.yml
Labels: ops

chore(eol): enforce LF for POSIX files and CRLF for Windows scripts; renormalize (#42)
  .gitattributes
  .github/workflows/smoke.yml
Labels: ops

ci(mavg): make scheduled job tolerant (no red at night); keep artifacts/summary
  .github/workflows/ci-mavg.yml
Labels: ops

ci(mavg): make scheduled job tolerant (no red at night); keep artifacts/summary (#43)
  .github/workflows/ci-mavg.yml
Labels: ops

ci(mavg): adapt to current gh fields; drop jobs_url; robust job fetch
  scripts/ci/compute_2w_mavg.py
Labels: none

ci(mavg): adapt to current gh fields; drop jobs_url; robust job fetch (#44)
  scripts/ci/compute_2w_mavg.py
Labels: none

ci: add eol-guard workflow (separate from ci-mavg)
  .github/workflows/eol-guard.yml
Labels: ops

ci: add eol-guard workflow (separate from ci-mavg) (#45)
  .github/workflows/eol-guard.yml
Labels: ops

ci(mavg): rich Step Summary table from summary JSON
  .github/workflows/ci-mavg.yml
Labels: ops

ci(mavg): rich Step Summary table from summary JSON
  .github/workflows/ci-mavg.yml
Labels: ops

ci(mavg): rich Step Summary table from summary JSON (#47)
  .github/workflows/ci-mavg.yml
Labels: ops

chore: archive local handoff and protection snapshot
  docs/handoffs/handoff-20250901-1531-verify_workspace-migration-20250828_213908.md
  protection.json
Labels: documentation

ci(mavg): restore workflow_dispatch for manual runs
  .github/workflows/ci-mavg.yml
Labels: ops

chore: kick required checks (docs touch for linkcheck)
  docs/DECISIONS_LOG.md
Labels: documentation

ci(mavg): restore workflow_dispatch for manual runs (#48)
  .github/workflows/ci-mavg.yml
  docs/DECISIONS_LOG.md
Labels: documentation, ops

ci(mavg): reusable workflow + manual launcher (workflow_call + workflow_dispatch)
  .github/workflows/ci-mavg-manual.yml
  .github/workflows/ci-mavg.yml
Labels: ops

docs: noop touch to trigger required checks
  docs/DECISIONS_LOG.md
Labels: documentation

ci(mavg): reusable workflow + manual launcher (workflow_call + workflow_dispatch) (#49)
  .github/workflows/ci-mavg-manual.yml
  .github/workflows/ci-mavg.yml
  docs/DECISIONS_LOG.md
Labels: documentation, ops

ci(mavg): manual launcher inherits secrets and sets permissions; ensure workflow_call inputs
  .github/workflows/ci-mavg-manual.yml
Labels: ops

docs: kick required checks
  docs/DECISIONS_LOG.md
Labels: documentation

ci(mavg): manual launcher inherits secrets and sets permissions; ensure workflow_call inputs (#50)
  .github/workflows/ci-mavg-manual.yml
  docs/DECISIONS_LOG.md
Labels: documentation, ops

docs: record v0.5.1 Draft release cancellation decision
  docs/DECISIONS_LOG.md
Labels: documentation

docs: record v0.5.1 Draft release cancellation decision (#51)
  docs/DECISIONS_LOG.md
Labels: documentation

reports: add visibility & privateization risk report (2025-09-06)
  docs/reports/visibility_risk_20250906.md
Labels: documentation

reports: inline snapshot JSON and replace /tmp paths for auditability (2025-09-06)
  .gitignore
  docs/reports/visibility_risk_20250906.md
Labels: documentation

reports: force add JSON snapshot data (2025-09-06)
  docs/reports/data/2025-09-06/actions-permissions.json
  docs/reports/data/2025-09-06/pages.json
  docs/reports/data/2025-09-06/protection.json
  docs/reports/data/2025-09-06/repo.json
  docs/reports/data/2025-09-06/workflows.json
Labels: documentation

reports: visibility & privateization risk report (2025-09-06) (#52)
  .gitignore
  docs/reports/data/2025-09-06/actions-permissions.json
  docs/reports/data/2025-09-06/pages.json
  docs/reports/data/2025-09-06/protection.json
  docs/reports/data/2025-09-06/repo.json
  docs/reports/data/2025-09-06/workflows.json
  docs/reports/visibility_risk_20250906.md
Labels: documentation

reports: add visibility & privateization risk report (2025-09-06)
  docs/reports/visibility_risk_20250906.md
Labels: documentation

.github/labeler.yml:

documentation:
  - changed-files:
    - any-glob-to-any-file: 'docs/**'
evidence:
  - changed-files:
    - any-glob-to-any-file: 'artifacts/**'
phase4.3:
  - changed-files:
    - any-glob-to-any-file: 'docs/**/phase4.3*'
ops:
  - changed-files:
    - any-glob-to-any-file: '.github/**'
