Repository Driedsandwich/ucomm, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, evidence, phase4.3, ops

chore: rebase to main and minor doc fixes for linkcheck
  docs/handoffs/handoff-20250908-0128-main.md
  docs/handoffs/handoff-20250908-2147-docs_v052-decision-prep.md
  docs/handoffs/handoff-20250909-0440-main.md
  handoff_content.md
  runs.json
  summary.json
Labels: documentation

docs: rehydrate unique decisions (supersedes #33) (#87)
  docs/DECISIONS_LOG.md
  docs/handoffs/handoff-20250908-0128-main.md
  docs/handoffs/handoff-20250908-2147-docs_v052-decision-prep.md
  docs/handoffs/handoff-20250909-0440-main.md
  handoff_content.md
  runs.json
  summary.json
Labels: documentation

docs(SSOT): add pointer to PR #87
  docs/HISTORY/INDEX.md
Labels: documentation

docs(SSOT): add pointer to PR #87 (#88)
  docs/HISTORY/INDEX.md
Labels: documentation

docs(decisions): record v0.5.2 published (2025-09-09, JST)
  docs/DECISIONS_LOG.md
Labels: documentation

docs(decisions): record v0.5.2 published (2025-09-09, JST) (#89)
  docs/DECISIONS_LOG.md
Labels: documentation

docs: seed v0.5.3 planning (release draft + SSOT pointer)
  docs/HISTORY/INDEX.md
  docs/RELEASES/v0.5.3.md
Labels: documentation

chore(codeowners): add lite/** owners (@Driedsandwich @0nyx-lab)
  .github/CODEOWNERS
Labels: ops

chore(codeowners): add lite/** owners (@Driedsandwich @0nyx-lab) (#95)
  .github/CODEOWNERS
Labels: ops

feat(lite): tmux-based ucomm-lite (roles, ACL tell, OPS, non-gating CI)
  .github/workflows/ci-lite-static.yml
  docs/OPERATIONS.md
  docs/OPS/LITE_UCOMM.md
  lite/.env.example
  lite/bin/_common.sh
  lite/bin/roles/_exec_or_echo.sh
  lite/bin/roles/boss.sh
  lite/bin/roles/manager.sh
  lite/bin/roles/s1.sh
  lite/bin/roles/s2.sh
  lite/bin/roles/s3.sh
  lite/bin/tell
  lite/bin/ucomm-lite
Labels: documentation, ops

feat(lite): bootstrap tmux-based ucomm-lite (boss/floor, ACL, OPS) (#96)
  .github/workflows/ci-lite-static.yml
  docs/OPERATIONS.md
  docs/OPS/LITE_UCOMM.md
  lite/.env.example
  lite/bin/_common.sh
  lite/bin/roles/_exec_or_echo.sh
  lite/bin/roles/boss.sh
  lite/bin/roles/manager.sh
  lite/bin/roles/s1.sh
  lite/bin/roles/s2.sh
  lite/bin/roles/s3.sh
  lite/bin/tell
  lite/bin/ucomm-lite
Labels: documentation, ops

docs(OPS): add manual smoke & smoke-local helper for ucomm-lite
  docs/OPS/LITE_UCOMM.md
  lite/README.md
  lite/bin/smoke-local
Labels: documentation

docs(OPS): manual smoke & helper for ucomm-lite (#97)
  docs/OPS/LITE_UCOMM.md
  lite/README.md
  lite/bin/smoke-local
Labels: documentation

chore: enforce LF endings for lite shell scripts via .gitattributes
  .gitattributes
Labels: none

chore: enforce LF endings for lite shell scripts via .gitattributes (#98)
  .gitattributes
Labels: none

fix(lite): avoid '>' in ACL match & harden _exec_or_echo.sh arg handling; clarify smoke-local calls
  lite/bin/roles/_exec_or_echo.sh
  lite/bin/smoke-local
  lite/bin/tell
Labels: none

fix(lite): avoid '>' in ACL match & harden _exec_or_echo.sh arg handling; clarify smoke-local calls (#99)
  lite/bin/roles/_exec_or_echo.sh
  lite/bin/smoke-local
  lite/bin/tell
Labels: none

fix(lite): use printf for clean tmux pane output
  lite/bin/smoke-local
  lite/bin/tell
Labels: none

fix(lite): use printf for clean tmux pane output (#100)
  lite/bin/smoke-local
  lite/bin/tell
Labels: none

feat(lite): add CLI detection and enhanced .env examples
  docs/OPS/LITE_UCOMM.md
  lite/.env.example
  lite/bin/detect-clis
Labels: documentation

feat(lite): add CLI detection and enhanced .env examples (#101)
  docs/OPS/LITE_UCOMM.md
  lite/.env.example
  lite/bin/detect-clis
Labels: documentation

feat(lite): add per-pane web login flow with *_LOGIN_CMD and *_TEST_CMD
  lite/.env.example
  lite/bin/login-clis
  lite/bin/ucomm-lite
Labels: none

feat(lite): add per-pane web login flow with *_LOGIN_CMD and *_TEST_CMD (#102)
  lite/.env.example
  lite/bin/login-clis
  lite/bin/ucomm-lite
Labels: none

feat(lite): enhance detect-clis with auth detection & add login-clis status
  lite/bin/detect-clis
  lite/bin/login-clis
Labels: none

feat(lite): enhance detect-clis with auth detection & add login-clis status (#103)
  lite/bin/detect-clis
  lite/bin/login-clis
Labels: none

fix(lite): guard role scripts to prevent usage noise when *_CMD unset
  lite/.env.example
  lite/bin/roles/boss.sh
  lite/bin/roles/manager.sh
  lite/bin/roles/s1.sh
  lite/bin/roles/s2.sh
  lite/bin/roles/s3.sh
Labels: none

fix(lite): guard role scripts to prevent usage noise when *_CMD unset (#104)
  lite/.env.example
  lite/bin/roles/boss.sh
  lite/bin/roles/manager.sh
  lite/bin/roles/s1.sh
  lite/bin/roles/s2.sh
  lite/bin/roles/s3.sh
Labels: none

feat(lite): add CLI auth override table and verified samples documentation
  docs/OPS/LITE_UCOMM.md
  lite/bin/detect-clis
Labels: documentation

feat(lite): add CLI auth override table and verified samples documentation (#105)
  docs/OPS/LITE_UCOMM.md
  lite/bin/detect-clis
Labels: documentation

.github/labeler.yml:

documentation:
  - changed-files:
    - any-glob-to-any-file: 'docs/**'
evidence:
  - changed-files:
    - any-glob-to-any-file: 'artifacts/**'
phase4.3:
  - changed-files:
    - any-glob-to-any-file: 'docs/**/phase4.3*'
ops:
  - changed-files:
    - any-glob-to-any-file: '.github/**'
