Repository Driedsandwich/ucomm, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, evidence, phase4.3, ops

ops: harden link-check (lychee) and add permanent Release links to reports/history
  .lychee.toml
  docs/HISTORY/INDEX.md
  docs/reports/README.md
Labels: documentation

ops: fix/bypass failing lychee links and unify EOL; make link-check pass
  .claude/settings.local.json
  .lychee.toml
  docs/handoffs/handoff-20250831-2138-ops_automation-and-templates-v1.md
Labels: documentation

ops: remove Japanese comments from lychee.toml for TOML parser compatibility
  .lychee.toml
Labels: none

ops: simplify lychee.toml to fix TOML parsing (remove range syntax, quotes)
  .lychee.toml
Labels: none

ops: remove unsupported lychee options (retry_wait_time, max_retries)
  .lychee.toml
Labels: none

ops: recreate lychee.toml with clean encoding
  .lychee.toml
Labels: none

chore: enforce LF for *.toml via .gitattributes
  .gitattributes
Labels: none

ops(linkcheck): replace with minimal known-good .lychee.toml
  .lychee.toml
Labels: none

ops(linkcheck): add debug dump + fallback inline lychee run
  .github/workflows/link-check.yml
Labels: ops

ops: temporarily disable lychee config to force fallback mode
  .claude/settings.local.json
  .lychee.toml.backup
Labels: none

ops: replace lychee action with direct command (bypass TOML issues)
  .github/workflows/link-check.yml
Labels: ops

chore: commit local Claude settings changes
  .claude/settings.local.json
Labels: none

ops: stabilize Link Check on main (pull_request_target + minimal lychee config)
  .gitattributes
  .github/workflows/link-check.yml
  .lychee.toml
Labels: ops

debug: add debug output to link-check workflow to identify TOML source
  .github/workflows/link-check.yml
Labels: ops

test: trigger PR sync for workflow test
  README.md
Labels: none

fix: use string value for verbose in lychee config
  .lychee.toml
Labels: none

fix: remove invalid verbose parameter from lychee config
  .lychee.toml
Labels: none

cleanup: remove debug output from Link Check workflow
  .github/workflows/link-check.yml
Labels: ops

docs(links): fix/neutralize dummy links; add minimal stubs; keep lychee strict for first-party docs
  .claude/settings.local.json
  CURRENT_WORK.md
  docs/HISTORY/2025-08/summary_20250828.md
  docs/HISTORY/2025-08/summary_20250831.md
  docs/HISTORY/templates/summary_template.md
  docs/PHASES/phase0-1.md
  docs/PR_TEMPLATES/phase43.md
  docs/handoffs/handoff-20250901-0230-main.md
  docs/reports/triage/phase43_triage_20250831_104930.md
Labels: documentation

docs(links): fix/neutralize dummy links; add minimal stubs; keep lychee strict for first-party docs (#20)
  .claude/settings.local.json
  CURRENT_WORK.md
  docs/HISTORY/2025-08/summary_20250828.md
  docs/HISTORY/2025-08/summary_20250831.md
  docs/HISTORY/templates/summary_template.md
  docs/PHASES/phase0-1.md
  docs/PR_TEMPLATES/phase43.md
  docs/handoffs/handoff-20250901-0230-main.md
  docs/reports/triage/phase43_triage_20250831_104930.md
Labels: documentation

chore: ignore local Claude settings to avoid merge noise
  .claude/settings.local.json
  .gitignore
Labels: none

.github/labeler.yml:

documentation:
  - 'docs/**'
evidence:
  - 'artifacts/**'
phase4.3:
  - 'docs/**/phase4.3*'
ops:
  - '.github/**'
