Repository Driedsandwich/ucomm, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, evidence, phase4.3, ops

.github/labeler.yml:

documentation:
  - changed-files:
    - any-glob-to-any-file: 'docs/**'
evidence:
  - changed-files:
    - any-glob-to-any-file: 'artifacts/**'
phase4.3:
  - changed-files:
    - any-glob-to-any-file: 'docs/**/phase4.3*'
ops:
  - changed-files:
    - any-glob-to-any-file: '.github/**'

docs: Stage B measurement snapshot (main, 3 OS green) (#69)
  .gitignore
  docs/CI/MCP_EPHEMERAL_STAGE_B.md
  docs/reports/data/2025-09-06/mcp-ephemeral-latency-summary.json
  docs/reports/data/2025-09-06/mcp-ephemeral-main/mcp-logs-Linux/health.json
  docs/reports/data/2025-09-06/mcp-ephemeral-main/mcp-logs-Linux/latency.txt
  docs/reports/data/2025-09-06/mcp-ephemeral-main/mcp-logs-Linux/server.err
  docs/reports/data/2025-09-06/mcp-ephemeral-main/mcp-logs-Linux/server.out
  docs/reports/data/2025-09-06/mcp-ephemeral-main/mcp-logs-Windows/health.json
  docs/reports/data/2025-09-06/mcp-ephemeral-main/mcp-logs-Windows/latency.txt
  docs/reports/data/2025-09-06/mcp-ephemeral-main/mcp-logs-macOS/health.json
  docs/reports/data/2025-09-06/mcp-ephemeral-main/mcp-logs-macOS/latency.txt
  docs/reports/data/2025-09-06/mcp-ephemeral-main/mcp-logs-macOS/server.err
  docs/reports/data/2025-09-06/mcp-ephemeral-main/mcp-logs-macOS/server.out
Labels: documentation

docs: normalize required checks to real job names; snapshot protection before/after (#71)
  docs/DECISIONS_LOG.md
  docs/HISTORY/INDEX.md
Labels: documentation

fix: correct RFC-001 link path in HISTORY/INDEX.md
  docs/HISTORY/INDEX.md
Labels: documentation

docs: record branch protection required checks extension (2025-09-07)
  docs/DECISIONS_LOG.md
Labels: documentation

fix: correct RFC-001 relative link path in HISTORY/INDEX.md
  docs/HISTORY/INDEX.md
Labels: documentation

docs: record required-checks extension (ci-mcp-validate) (#67)
  docs/DECISIONS_LOG.md
Labels: documentation

fix: Windows CI server persistence in ci-mcp-ephemeral workflow
  .github/workflows/ci-mcp-ephemeral.yml
  docs/HISTORY/INDEX.md
  docs/handoffs/handoff-20250907-0111-feat_cli-bins-poc-health.md
  docs/handoffs/handoff-20250907-0321-ops_branch-protection-add-mcp-validate.md
  docs/handoffs/handoff-20250907-0543-docs_rfc001-adopt-20250907.md
  docs/handoffs/handoff-20250907-0808-ci_fix-ci-mavg-yaml.md
Labels: documentation, ops

fix: Japanese parentheses in handoff file causing linkcheck failure
  docs/handoffs/handoff-20250907-0808-ci_fix-ci-mavg-yaml.md
Labels: documentation

fix: Combine Windows server start, health test, and deny test into single step
  .github/workflows/ci-mcp-ephemeral.yml
Labels: ops

feat: Implement MCP Stage C - GitHub API boundary testing (RFC-001)
  .github/workflows/ci-mcp-stage-c.yml
  docs/CI/MCP_EPHEMERAL_STAGE_C.md
  docs/CI/MCP_STAGE_C_DESIGN.md
  profiles/mcp/stage-c/mcp.json
  scripts/mcp-stage-c-server.js
  scripts/mcp-stage-c-test.js
Labels: documentation, ops

ci: Stage C API boundary harness (draft) - GET allowed, POST denied
  .github/workflows/ci-mcp-api-boundary.yml
  docs/CI/MCP_API_BOUNDARY_STAGE_C.md
Labels: documentation, ops

fix: Stage C minimal harness - add GH_TOKEN env and use GET-only methods
  .github/workflows/ci-mcp-api-boundary.yml
  profiles/mcp/stage-c/mcp.json
Labels: ops

docs: add RFC-001 MCP-in-CI document to fix linkcheck
  RFC/001-mcp-in-ci.md
Labels: none

ci: Stage C API boundary harness (draft) (#73)
  .github/workflows/ci-mcp-api-boundary.yml
  .github/workflows/ci-mcp-stage-c.yml
  RFC/001-mcp-in-ci.md
  docs/CI/MCP_API_BOUNDARY_STAGE_C.md
  docs/CI/MCP_EPHEMERAL_STAGE_C.md
  docs/CI/MCP_STAGE_C_DESIGN.md
  docs/HISTORY/INDEX.md
  profiles/mcp/stage-c/mcp.json
  scripts/mcp-stage-c-server.js
  scripts/mcp-stage-c-test.js
Labels: documentation, ops

feat: Implement MCP Stage C - GitHub API boundary testing (RFC-001)
  profiles/mcp/stage-c/mcp.json
Labels: none

ci: Stage C extended tests - adapt to merged minimal harness
  .github/workflows/ci-mcp-api-boundary-extended.yml
  .github/workflows/ci-mcp-api-boundary.yml
  docs/CI/MCP_API_BOUNDARY_STAGE_C.md
  docs/CI/MCP_API_BOUNDARY_STAGE_C_EXTENDED.md
  docs/handoffs/handoff-20250907-1555-ci_mcp-api-boundary-stage-c.md
  docs/reports/data/2025-09-06/branch-protection-update.json
  docs/reports/data/2025-09-06/branch-protection.after.json
  docs/reports/data/2025-09-06/branch-protection.before.json
  profiles/mcp/stage-c-extended/mcp.json
Labels: documentation, ops

fix: make extended tests safe and exclude from validation
  .claude/settings.json
  .github/workflows/ci-mcp-api-boundary-extended.yml
  CURRENT_WORK.md
  scripts/mcp-validate.sh
Labels: ops

fix: exclude experimental stage-c-extended from schema validation
  scripts/mcp-validate.sh
Labels: none

feat: Implement MCP Stage C - GitHub API boundary testing (RFC-001) (#72)
  .claude/settings.json
  .github/workflows/ci-mcp-api-boundary-extended.yml
  .github/workflows/ci-mcp-api-boundary.yml
  docs/CI/MCP_API_BOUNDARY_STAGE_C.md
  docs/CI/MCP_API_BOUNDARY_STAGE_C_EXTENDED.md
  docs/handoffs/handoff-20250907-1555-ci_mcp-api-boundary-stage-c.md
  docs/reports/data/2025-09-06/branch-protection-update.json
  docs/reports/data/2025-09-06/branch-protection.after.json
  docs/reports/data/2025-09-06/branch-protection.before.json
  profiles/mcp/stage-c-extended/mcp.json
  scripts/mcp-validate.sh
Labels: documentation, ops

docs: add security compliance comment to MCP validation
  scripts/mcp-validate.sh
Labels: none

ci: enable Dependabot and CodeQL security scanning (#57)
  .github/dependabot.yml
  .github/workflows/codeql.yml
  scripts/mcp-validate.sh
Labels: ops

docs: mark RFC-001 completion and add SSOT pointers (#69/#72/#73)
  docs/DECISIONS_LOG.md
  docs/HISTORY/INDEX.md
Labels: documentation

ops: introduce minimal CODEOWNERS (initial role mapping for #14)
  .github/CODEOWNERS
  docs/OPS/ROLE_MAPPING.md
Labels: documentation, ops

ci: stabilize link check (retries/timeout/ignore) for #17
  .lychee.toml
Labels: none

ci: make ci-mcp-validate run on all PRs with no-op success when irrelevant
  .github/workflows/ci-mcp-validate.yml
Labels: ops

ci: make ci-mcp-validate always run (no-op when no MCP changes) (#78)
  .github/CODEOWNERS
  .github/workflows/ci-mcp-validate.yml
  .lychee.toml
  docs/DECISIONS_LOG.md
  docs/HISTORY/INDEX.md
  docs/OPS/ROLE_MAPPING.md
Labels: documentation, ops

ci: make eol-guard run on all PRs with no-op success when no EOL-relevant files
  .github/workflows/eol-guard.yml
Labels: ops

ci: fix eol-guard to run on all PRs (no-op when no EOL files) (#79)
  .github/workflows/eol-guard.yml
Labels: ops

release: start v0.5.2 planning (notes & checklist draft)
  docs/HISTORY/INDEX.md
  docs/RELEASES/v0.5.2.md
  docs/RELEASE_CHECKLIST_v0.5.2.md
Labels: documentation

ci: add daily linkcheck observability (non-gating) for #17
  .github/workflows/ci-linkcheck-observe.yml
  docs/CI/LINKCHECK_OBSERVABILITY.md
Labels: documentation, ops

release: v0.5.2 planning (notes & checklist draft) (#80)
  docs/HISTORY/INDEX.md
  docs/RELEASES/v0.5.2.md
  docs/RELEASE_CHECKLIST_v0.5.2.md
Labels: documentation

ci: daily linkcheck observability (non-gating) (#82)
  .github/workflows/ci-linkcheck-observe.yml
  docs/CI/LINKCHECK_OBSERVABILITY.md
Labels: documentation, ops

docs(ssot): add pointers for v0.5.2 planning (Issue #81 / PR #80 / PR #82 / Milestone)
  docs/HISTORY/INDEX.md
Labels: documentation

docs: SSOT pointers for v0.5.2 planning (#83)
  docs/HISTORY/INDEX.md
Labels: documentation

release: auto-append merged PR list into v0.5.2 notes
  docs/RELEASES/v0.5.2.md
Labels: documentation

release: finalize v0.5.2 notes (auto PR list appended) (#84)
  docs/RELEASES/v0.5.2.md
Labels: documentation

docs: record v0.5.2 release readiness (awaiting PM sign-off)
  docs/DECISIONS_LOG.md
Labels: documentation

ops: add @0nyx-lab as Code Owner for docs/** (to unblock doc PRs)
  .github/CODEOWNERS
Labels: ops

ops: add @0nyx-lab as Code Owner for docs/** (to unblock doc PRs) (#86)
  .github/CODEOWNERS
  docs/DECISIONS_LOG.md
Labels: documentation, ops

docs: rehydrate unique Phase 5 startup decisions from #33 (without duplication)
  docs/DECISIONS_LOG.md
Labels: documentation
