Repository Driedsandwich/ucomm, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, evidence, phase4.3, ops

.github/labeler.yml:

documentation:
  - changed-files:
    - any-glob-to-any-file: 'docs/**'
evidence:
  - changed-files:
    - any-glob-to-any-file: 'artifacts/**'
phase4.3:
  - changed-files:
    - any-glob-to-any-file: 'docs/**/phase4.3*'
ops:
  - changed-files:
    - any-glob-to-any-file: '.github/**'

docs: record Phase 5 priority order and add SSOT pointer (2025-09-06)
  docs/DECISIONS_LOG.md
  docs/HISTORY/INDEX.md
Labels: documentation

docs: Phase 5 priorities & SSOT pointer (2025-09-06) (#53)
  docs/DECISIONS_LOG.md
  docs/HISTORY/INDEX.md
  docs/reports/visibility_risk_20250906.md
Labels: documentation

ci: add cross-OS CLI bins PoC for /health (Issue #12)
  .github/workflows/ci-cli-bins.yml
  docs/CI/CLI_BINS_POC.md
  scripts/health.ps1
  scripts/health.sh
Labels: documentation, ops

ops: snapshot branch protection settings (require linkcheck/smoke/label/eol-guard)
  docs/reports/data/2025-09-06/branch-protection.json
Labels: documentation

ci: validate /health JSON across OS (Issue #12)
  .github/workflows/ci-cli-bins.yml
  schemas/health.schema.json
Labels: ops

fix: add required code and ts fields to /health JSON output
  scripts/health.ps1
  scripts/health.sh
Labels: none

ci: cross-OS CLI bins PoC for /health (Issue #12) (#55)
  .github/workflows/ci-cli-bins.yml
  docs/CI/CLI_BINS_POC.md
  schemas/health.schema.json
  scripts/health.ps1
  scripts/health.sh
Labels: documentation, ops

ci: add Dependabot and CodeQL security scanning
  .github/dependabot.yml
  .github/workflows/codeql.yml
Labels: ops

docs: update SSOT with Phase 5 actions and security decisions
  docs/DECISIONS_LOG.md
  docs/HISTORY/INDEX.md
  docs/reports/visibility_risk_20250906.md
Labels: documentation

docs(RFC): RFC-001 MCP-in-CI (Stage A static validation plan)
  docs/RFC/001-mcp-in-ci.md
Labels: documentation

ci: add Stage A static validation for MCP profiles (RFC-001 / Issue #13)
  .github/workflows/ci-mcp-validate.yml
  profiles/mcp/default/mcp.json
  schemas/mcp.schema.json
  scripts/mcp-validate.sh
Labels: ops

docs(RFC): MCP-in-CI (RFC-001, Stage A=static validation) (#59)
  docs/DECISIONS_LOG.md
  docs/HISTORY/INDEX.md
  docs/RFC/001-mcp-in-ci.md
  docs/reports/visibility_risk_20250906.md
Labels: documentation

ci: MCP Stage A static validation (RFC-001 / #13) (#60)
  .github/workflows/ci-mcp-validate.yml
  profiles/mcp/default/mcp.json
  schemas/mcp.schema.json
  scripts/mcp-validate.sh
Labels: ops

docs: adopt RFC-001 and record Stage A activation (2025-09-07)
  docs/DECISIONS_LOG.md
  docs/HISTORY/INDEX.md
Labels: documentation

ci: MCP Stage B ephemeral server (/health<=6000ms, deny=403) (RFC-001 / #13)
  .github/workflows/ci-mcp-ephemeral.yml
  docs/CI/MCP_EPHEMERAL_STAGE_B.md
  scripts/mcp-mock-server.js
Labels: documentation, ops

fix: MCP schema uses draft-07 for ajv-cli compatibility
  schemas/mcp.schema.json
Labels: none

fix: MCP schema uses draft-07 for ajv-cli compatibility (#63)
  schemas/mcp.schema.json
Labels: none

test: trigger ci-mcp-validate workflow for stability verification
  profiles/mcp/default/mcp.json
Labels: none

ops: add ci-mcp-validate to required status checks (snapshot)
  docs/reports/data/2025-09-06/branch-protection.json
Labels: documentation

trigger: measurement run for Stage B evaluation
  scripts/mcp-mock-server.js
Labels: none

fix: replace heredoc with inline python commands in workflow
  .github/workflows/ci-mcp-ephemeral.yml
Labels: ops

fix: add retry logic for Windows Invoke-WebRequest calls
  .github/workflows/ci-mcp-ephemeral.yml
Labels: ops

fix: add Windows port fallback strategy and improve artifact uploads
  .github/workflows/ci-mcp-ephemeral.yml
Labels: ops

docs: add Stage B measurement snapshot & latency table
  docs/CI/MCP_EPHEMERAL_STAGE_B.md
  docs/reports/data/2025-09-06/mcp-ephemeral-latency-summary.json
  docs/reports/data/2025-09-06/mcp-ephemeral/mcp-logs-Linux/health.json
  docs/reports/data/2025-09-06/mcp-ephemeral/mcp-logs-Linux/latency.txt
  docs/reports/data/2025-09-06/mcp-ephemeral/mcp-logs-Linux/server.err
  docs/reports/data/2025-09-06/mcp-ephemeral/mcp-logs-Linux/server.out
  docs/reports/data/2025-09-06/mcp-ephemeral/mcp-logs-macOS/health.json
  docs/reports/data/2025-09-06/mcp-ephemeral/mcp-logs-macOS/latency.txt
  docs/reports/data/2025-09-06/mcp-ephemeral/mcp-logs-macOS/server.err
  docs/reports/data/2025-09-06/mcp-ephemeral/mcp-logs-macOS/server.out
Labels: documentation

docs: record branch protection required checks extension (2025-09-07)
  docs/DECISIONS_LOG.md
Labels: documentation

docs(history): fix broken links for RFC-001 and CLI PoC refs
  docs/HISTORY/INDEX.md
Labels: documentation

docs: adopt RFC-001 & record Stage A activation (#61)
  docs/DECISIONS_LOG.md
  docs/HISTORY/INDEX.md
Labels: documentation

ci(mcp-ephemeral): fix Windows server start (Start-Process; inherit PATH)
  .github/workflows/ci-mcp-ephemeral.yml
Labels: ops

fix(ci): use non-reserved variable name in PowerShell
  .github/workflows/ci-mcp-ephemeral.yml
Labels: ops

docs: fix broken link to RFC-001 in HISTORY/INDEX.md
  docs/HISTORY/INDEX.md
Labels: documentation

docs: remove reference to untracked handoff file
  docs/HISTORY/INDEX.md
Labels: documentation

ops: add ci-mcp-validate to required status checks (snapshot) (#65)
  docs/reports/data/2025-09-06/branch-protection.json
Labels: documentation

ci: fix ci-mavg.yml yaml syntax
  .github/workflows/ci-mavg.yml
Labels: ops

ci: MCP Stage B ephemeral server (RFC-001 / #13) (#62)
  .github/workflows/ci-mcp-ephemeral.yml
  docs/CI/MCP_EPHEMERAL_STAGE_B.md
  scripts/mcp-mock-server.js
Labels: documentation, ops

docs: Stage B measurement snapshot on main (3 OS green)
  docs/CI/MCP_EPHEMERAL_STAGE_B.md
Labels: documentation

ci: fix ci-mavg.yml yaml syntax (#68)
  .github/workflows/ci-mavg.yml
Labels: ops

ci: align branch protection contexts with actual job names
  .github/workflows/ci-mcp-validate.yml
  .github/workflows/smoke.yml
Labels: ops

docs: persist Stage B artifacts (unignore reports/data) & refresh table (main)
  .gitignore
  docs/reports/data/2025-09-06/mcp-ephemeral-latency-summary.json
  docs/reports/data/2025-09-06/mcp-ephemeral-main/mcp-logs-Linux/health.json
  docs/reports/data/2025-09-06/mcp-ephemeral-main/mcp-logs-Linux/latency.txt
  docs/reports/data/2025-09-06/mcp-ephemeral-main/mcp-logs-Linux/server.err
  docs/reports/data/2025-09-06/mcp-ephemeral-main/mcp-logs-Linux/server.out
  docs/reports/data/2025-09-06/mcp-ephemeral-main/mcp-logs-Windows/health.json
  docs/reports/data/2025-09-06/mcp-ephemeral-main/mcp-logs-Windows/latency.txt
  docs/reports/data/2025-09-06/mcp-ephemeral-main/mcp-logs-macOS/health.json
  docs/reports/data/2025-09-06/mcp-ephemeral-main/mcp-logs-macOS/latency.txt
  docs/reports/data/2025-09-06/mcp-ephemeral-main/mcp-logs-macOS/server.err
  docs/reports/data/2025-09-06/mcp-ephemeral-main/mcp-logs-macOS/server.out
Labels: documentation

ci: align branch protection contexts with actual job names (#70)
  .github/workflows/ci-mcp-validate.yml
  .github/workflows/smoke.yml
Labels: ops

docs: normalize required checks to real job names; snapshot protection before/after
  docs/DECISIONS_LOG.md
  docs/HISTORY/INDEX.md
Labels: documentation
