Repository Driedsandwich/ucomm, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, evidence, phase4.3, ops

ops(ci): add 2-week moving average script and docs
  .gitignore
  README.md
  docs/OPERATIONS.md
  scripts/ci/compute_2w_mavg.py
Labels: documentation

ops(ci): mitigate macOS flakiness (min-change, retry & timeouts)
  .github/workflows/smoke.yml
Labels: ops

feat(ci): implement production-ready 2w moving average script
  .github/workflows/ci-mavg.yml
  scripts/ci/compute_2w_mavg.py
Labels: ops

docs: update CI monitoring with production examples and troubleshooting
  README.md
Labels: none

test: trigger link-check failure (intentional)
  link_test.md
Labels: none

test: trigger link-check failure (real 404)
  link_test.md
Labels: none

test: fix link to satisfy required status check
  link_test.md
Labels: none

Test: Link Check enforcement (#28)
  .github/workflows/ci-mavg.yml
  .gitignore
  README.md
  docs/OPERATIONS.md
  link_test.md
  scripts/ci/compute_2w_mavg.py
Labels: documentation, ops

chore: no-op change to verify branch protection visibility on private repo
  README.md
Labels: none

chore(test): make linkcheck fail on private repo
  link_test.md
Labels: none

chore: recheck protection visibility on private repo (no-op)
  README.md
Labels: none

feat(minutes): minimal PoC (tsv parsing + masking + headings)
  scripts/lib/mask.sh
  scripts/minutes.sh
Labels: none

docs: record Phase 5 start; #21 enforced on public, private non-enforcing (Free)
  docs/DECISIONS_LOG.md
Labels: documentation

feat(minutes): mask only message column; TSV pipeline; Windows-friendly
  scripts/lib/mask.sh
  scripts/minutes.sh
Labels: none

chore: enforce LF for shell scripts via .gitattributes
  .gitattributes
Labels: none

chore: enforce LF for shell scripts
  .gitattributes
Labels: none

feat: minutes hardening (mask only message, add tests)
  scripts/lib/mask.sh
  scripts/minutes.sh
  tests/test_mask.sh
  tests/test_minutes.sh
Labels: none

feat(minutes): mask only message column; TSV pipeline; Windows-friendly
  scripts/lib/mask.sh
Labels: none

chore: normalize line endings via .gitattributes
  CURRENT_WORK.md
Labels: none

chore: ignore generated reports/
  .gitignore
Labels: none

docs: set new canonical workspace path; keep reports/ local-only
  .gitignore
  docs/roadmap_phase5.md
Labels: documentation

wip: temp sync before switching to poc branch
  .github/workflows/minutes.yml
  CURRENT_WORK.md
  Makefile
  README.md
  _labels.txt
  docs/DECISIONS_LOG.md
  docs/PHASE_MAP.txt
  docs/handoffs/handoff-20250901-1023-docs_update-decisions-for-macos-v1.md
  docs/handoffs/handoff-20250901-1632-verify_workspace-migration-20250828_213908.md
  scripts/adapters/summarize_api.sh
  scripts/compose-minutes.sh
  scripts/health.sh.bak
  scripts/summarizer.sh
  tmp_smoke_run.json
Labels: documentation, ops

docs: clarify PR scope split (#34 PoC minimal / #35 ops & CI)
  docs/roadmap_phase5.md
Labels: documentation

fix(minutes): handle inputs without trailing newline (robust read + forced newline)
  .github/workflows/minutes.yml
  scripts/lib/mask.sh
Labels: ops

test: add last-line regression test to prevent newline handling bugs
  .github/workflows/minutes.yml
  tests/test_minutes_last_line.sh
Labels: ops

ci: enable Minutes Smoke Test workflow on main (no code change)
  .github/workflows/minutes.yml
Labels: ops

ci: enable Minutes Smoke Test workflow on main (no code change)
  .github/workflows/minutes.yml
Labels: ops

fix: enhance minutes.sh reliability and workflow artifacts
  .github/workflows/minutes.yml
  scripts/minutes.sh
Labels: ops

fix: set executable permissions for scripts and tests
  scripts/minutes.sh
  tests/test_mask.sh
  tests/test_minutes_last_line.sh
Labels: none

ci: trigger Minutes Smoke Test on PR by touching scripts
  scripts/.ci_touch
Labels: none

ci: touch scripts to trigger Minutes Smoke Test on PR
  scripts/ci_touch_20250903-031531.txt
Labels: none

ci: touch scripts to trigger Minutes Smoke Test on PR (#35)
  scripts/ci_touch_20250903-033623.txt
Labels: none

docs(decision): record main branch protection (admins+strict+required checks)
  docs/DECISIONS_LOG.md
Labels: documentation

test: tiny change to validate required status checks guard
  README.md
Labels: none

docs: record main branch protection decision (#37)
  .github/workflows/smoke.yml
  CURRENT_WORK.md
  Makefile
  README.md
  _labels.txt
  docs/DECISIONS_LOG.md
  docs/PHASE_MAP.txt
  docs/handoffs/handoff-20250901-1023-docs_update-decisions-for-macos-v1.md
  docs/handoffs/handoff-20250901-1632-verify_workspace-migration-20250828_213908.md
  docs/roadmap_phase5.md
  scripts/.ci_touch
  scripts/adapters/summarize_api.sh
  scripts/ci_touch_20250903-031531.txt
  scripts/ci_touch_20250903-032604.txt
  scripts/ci_touch_20250903-033623.txt
  scripts/compose-minutes.sh
  scripts/health.sh.bak
  scripts/lib/mask.sh
  scripts/minutes.sh
  scripts/summarizer.sh
  tests/test_mask.sh
  tests/test_minutes.sh
  tests/test_minutes_last_line.sh
  tmp_smoke_run.json
Labels: documentation, ops

Update DECISIONS_LOG.md
  docs/DECISIONS_LOG.md
Labels: documentation

chore: ignore local Claude settings to avoid merge noise
  .gitignore
Labels: none

feat: minutes hardening (mask only message, add tests)
  scripts/lib/mask.sh
  scripts/minutes.sh
Labels: none

docs: set new canonical workspace path; keep reports/ local-only
  .gitignore
Labels: none

wip: temp sync before switching to poc branch
  .github/workflows/minutes.yml
  docs/DECISIONS_LOG.md
Labels: documentation, ops

.github/labeler.yml:

documentation:
  - changed-files:
    - any-glob-to-any-file: 'docs/**'
evidence:
  - changed-files:
    - any-glob-to-any-file: 'artifacts/**'
phase4.3:
  - changed-files:
    - any-glob-to-any-file: 'docs/**/phase4.3*'
ops:
  - changed-files:
    - any-glob-to-any-file: '.github/**'
